<template>
    ---json
    {
        "features": {
            "toolbar": {
                "navigation": false
            },
            "upload": {
                "enabled": false
            }
        },
        "templating": {
            "extends": "templates/layouts/content.html"
        }
    }
    ---
    <div class="maintenance-container">
        <h1>Aktualizace</h1>
        <p>Omlouváme se za nepříjemnosti, ale naše webové stránky jsou momentálně v údržbě. Pracujeme na jejich
            vylepšení a brzy budeme zpět on-line.</p>
        <p>Děkujeme za vaši trpělivost a pochopení</p>
    </div>
</template>